<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Load style -->
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <div id="app-container">
        <div id="app-inner">
            <div id="app" class="v-cloak">
                <!--  -->
                <div v-if="!ready">
                    Loading...
                </div>
                <div v-if="ready" style="display: flex;flex-direction: column; justify-content: center;">
                    <p>Document X NO-UI System</p>
                    <button @click="NewDoc">New Document</button>
                    <button @click="ViewAllDoc">All Documents</button>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
</body>

<footer>
    <!-- Load vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Load Application -->
    <script src="index.js"></script>
</footer>

</html>